<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Thymeleaf3</title>
</head>
<body>
	<h1>Admin Page for Admin!!</h1>
	
	<hr />
	
	<h3 sec:authentication="name">Spring security username</h3>
	<h3>[[${#authentication.name}]]</h3>
	
	<hr />
	
	<p sec:authorize-url="/admin/aaa">
		<a href="/admin/aaa">ADMIN AAA</a>
	</p>
	
	<p sec:authorize-url="/manager/aaa">
		<a href="/manager/aaa">MANAGER AAA</a>
	</p>
	
	<h1 sec:authorize="hasRole('ROLE_ADMIN')">
		This content is only for administrators.
	</h1>
	
	<div>
		[[${#authentication.principal}]]
	</div>
	
	<div>
		[[${#authentication.principal.member}]]
	</div>
	
	<div>
		[[${#authentication.principal.member.uid}]]
	</div>
</body>
</html>